.box.is-centered {
  width: 20rem;
  height: 27rem;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #d9e8f2;
}
.box.is-centered h1, h2, .subtitle{
  margin-bottom: 0;
}

.space {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.sign {
  display: inline-block;
  width: 80px;
  border-bottom: 1px dashed black;
}
