body{
  background: #eee;
}
.section{
  height: 100%;
  min-height: 100vh;
}
.wrap{
  width: 90%;
  max-width: 1000px;
  padding: 20px;
}
.title.has-pre-space {
    margin-top: 3rem;
}


.section {
    background-color: #16a085;
}

.logo.is-large {
    max-height: 3rem;
}

.has-required:after {
    content: "*";
    color: red;
}

.notification.is-small {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.notification.is-small .delete {
    top: 0.75rem;
}

.control.is-spaced:not(:last-child) {
    margin-bottom: 1.5rem;
}

.help.is-medium {
    font-size: 0.8rem;
}

.uploader {
    position: relative;
    max-width: 15rem;
    max-height: 15rem;
}

.uploader .passport-src {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.uploader label {
    display: block;
    width: 15rem;
    height: 15rem;
    background: #e0e0e0;
    border-radius: 4px;
    text-align: center;
    line-height: 15rem;
    cursor: pointer;
}

.uploader.is-pulled-right {
    margin-left: 2rem;
}

.uploader .passport-src:focus + label {
	  outline: 1px dotted #000;
	  outline: -webkit-focus-ring-color auto 5px;
}

.uploader .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.control.is-license {
    font-size: 0.75rem;
    margin-top: 2rem;
}
.columns{
  flex-wrap: wrap;
}
@media print{
	*{
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}
  *:not(.box.is-centered){
		background: transparent !important;
  }
	a{
		text-decoration: underline;
	}
	abbr[title]:after{
    	content: " (" attr(title) ")";
	}
	/* Don't show links for images, or javascript/internal links */
	.ir a:after{ content: ""; }
	pre, blockquote{
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead{ display: table-header-group; }
	tr{ page-break-inside: avoid; }
	img{
		page-break-inside: avoid;
		max-width: 100% !important;
	}
  p, h2, h3{
    orphans: 3;
    widows: 3;
	}
	h2, h3{ page-break-after: avoid; }
  .box{ border: solid thin #888; }
  .columns::after, .columns::before{
    content: ' ';
    display: table;
  }
  .columns::after{
    clear: both;
  }
  .column{
    float: left;
    width: 50%;
  }
  .title, .button, .nav, #nok{ display: none; }
  #competition .control{ display: inline-block; }
  input,select, .input, textarea, .textarea{
    border: 0 !important;
    box-shadow: none !important;
  }
  .box{
    margin-top: 1rem;
  }
  .section{ padding: 0!important; }
  .box.is-centered{
    margin-top: 0 !important;
    height: 50% !important;
    min-height: 50vh !important;
    background-color: #caffd3 !important;
  }
}
