{% extends layout %}

{% block content %}
{% include dashboard_header %}
<main class="dashboard">
  <nav class="dashboard__nav">
    <a class="is-dashboard-nav-active">Account</a>
    <a href="/settings/organizations">Organizations</a>
  </nav>
  <section class="dashboard__content">
    <div class="dashboard__content__heading row">
      <div class="column column-10">
        <h1>Account Settings</h1>
      </div>
      <div class="column column-2">
      </div>
    </div>
    <h3>Profile</h3>
    <form action="/users/business" method="post" class="form">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <p>
        <label for="description">Company Description</label>
        <textarea class="form__text" name="description"></textarea>
      </p>
      <p>
        <label for="company_address">Company Address</label>
        <input type="text" name="contact_address" class="form__input form__input--wide">
      </p>
      <input type="submit" class="btn btn-green" value="Update Profile">
    </form>
    <h3>Password</h3>
    <form action="" method="post" class="form">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <p>
        <label for="">Old Password:</label><input type="password" class="form__input form__input--wide">
      </p>
      <p>
        <label for="">New Password:</label><input type="password" class="form__input form__input--wide">
      </p>
      <p>
        <label for="">Confirm New Password:</label><input type="password" class="form__input form__input--wide">
      </p>
      <input type="submit" class="btn btn-green" value="Change Password">
    </form>
  </section>
</main>
{% endblock %}
