{% extends layout %}

{% block content %}
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="/">
     <img class="logo is-large" alt="NUGA Logo" src="../static/logo.png"/>
    </a>
  </div>

  <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
  <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <!-- This "nav-menu" is hidden on mobile -->
  <!-- Add the modifier "is-active" to display it on mobile -->
    <span class="nav-item">
      <a class="button" href="/" >
        Logout
      </a>
    </span>
  </div>
</nav>
<section class="section">
  <main class="container">
  <div class="is-pulled-right"><button onClick="javascript:print()" class="button is-danger">Print All</button></div>
    <h2 style="color: white" class="title is-2">Applied Candidates</h2>
		{% if registrants.length < 1 %}
		<div class="has-text-centered">You have no registrant yet</div>
		{% endif %}
    <div class="columns">
		{% for registrant in registrants %}
    <div class="column is-half">
      <div class="box is-centered">
          <div class="image">
              <img class="logo" alt="NUGA Logo" src="../static/logo.png">
          </div>
          <h1 class="subtitle is-6 space">{{ registrant._doc.school }}</h1>
          <h1 class="subtitle is-6 space">Matric No {{ registrant._doc.schoolreg }}</h1>
          <div class="columns">
              <div class="column is-half">
                  <div class="image is-square">
                      <img alt="Passport" src="{{ registrant._doc.passport }}">
                  </div>
              </div>
              <div class="column is-half has-text-centered">
                <h1 class="subtitle is-2">{{ registrant._doc.zone }}</h1>
                  <h1 class="subtitle is-4">{{ registrant._doc.sports }}</h1>
                  <h1 class="subtitle is-6">(Zone {{ registrant._doc.zone }})</h1>
              </div>
          </div>
          <h2 class="subtitle is-6">Chairman, Accreditation <span class="sign"></span></h2>
          <h2>
              <label class="label" for="">{{ registrant._doc.level }}</label>
              <label class="label" for="">{{ registrant._doc.sports }}</label>
          </h2>
      </div>
    </div>
		{% endfor %}
    </div>
  </main>
</section>
{% endblock %}
