{% extends layout %}

{% block content %}
        <nav class="nav has-shadow">
           <div class="container">
               <div class="nav-left">
                   <div class="nav-item">
                       <a href="#">
                           <img class="logo is-large" alt="NUGA Logo" src="../static/logo.png"/>
                       </a>
                   </div>
               </div>
           </div>
        </nav>
        <section class="section">
            <div class="container">
                <form class="box" action="/register" id="reg" enctype="application/json" method="post">
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <h2 class="title is-2">Fill the form below</h2>
                    <div class="notification is-warning is-small">
                        All fields marked <span class="has-required"></span> are required
                        <button class="delete"></button>
                    </div>
                    <div class="control is-spaced is-grouped">
                        <div class="control is-expanded">
                            <label class="label has-required" for="">Zone</label>
                            <span class="select">
                                <select id="zone-list" name="zone">
                                    <option disabled>Select your Zone</option>
                                </select>
                            </span>
                        </div>
                        <div class="control is-expanded">
                            <label class="label has-required" for="">University</label>
                            <span class="select">
                                <select id="school-list" name="school">
                                    <option disabled="">Select your University</option>
                                </select>
                            </span>
                        </div>
                    </div>

                    <h2 class="title is-4">Personal Details</h2>
                    <div class="uploader is-pulled-right">
                        <input id="pass" type="file" accept="image/*" class="passport-src" required >
                        <input name="passport" id="passport" type="hidden"/>
                        <label for="pass">
                            <strong>Choose a file</strong>
                            <span>(less than 50kB)</span>
                            <div class="image is-1by1 is-hidden">
                                <img src="" width="240" height="240"/>
                            </div>
                        </label>
                        <div class="help is-danger is-medium is-hidden">
                            The image is too large. Must not be more than 50kB
                        </div>
                    </div>
                    <div class="control is-grouped is-spaced">
                        <div class="control is-expanded">
                            <label class="label has-required">Surname</label>
                            <input class="input" name="surname" type="text" required/>
                        </div>
                        <div class="control is-expanded">
                            <label class="label has-required">First Name</label>
                            <input class="input" name="firstname" type="text" required/>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">Middle Name</label>
                            <input class="input" name="middlename" type="text"/>
                        </div>
                    </div>
                    <div class="control is-spaced is-grouped">
                        <div class="control is-expanded">
                            <label class="label">Gender</label>
                            <label class="radio">
                                <input name="gender" type="radio" value="Male" checked/>
                                Male
                            </label>
                            <label class="radio">
                                <input name="gender" type="radio" value="Female"/>
                                Female
                            </label>

                        </div>
                    </div>
                    <div class="control is-grouped is-spaced">
                        <div class="control is-expanded">
                            <label class="label has-required">Email</label>
                            <input class="input" name="email" type="email" required/>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">Phone</label>
                            <input class="input" name="phone" type="tel"/>
                        </div>
                    </div>
                    <div class="control is-spaced is-grouped">
                        <div class="control is-expanded">
                            <label class="label has-required">Address</label>
                            <textarea class="textarea" name="address" rows="2" required></textarea>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">Address 2</label>
                            <textarea class="textarea" name="address2" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="control is-spaced is-grouped">
                        <div class="control is-expanded">
                            <label class="label">State</label>
                            <span class="select">
                                <select id="state-list" name="state">
                                    <option disabled>Select your state</option>
                                </select>
                            </span>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">Local Government Area</label>
                            <span class="select">
                                <select id="lga-list" name="lga">
                                    <option disabled>Select your LGA</option>
                                </select>
                            </span>
                        </div>
                    </div>
                    <h2 class="title is-4 has-pre-space">School Details</h2>
                    <div class="control is-spaced is-grouped">
                        <div class="control is-expanded">
                            <label class="label">Faculty/College</label>
                            <input class="input" type="text" name="faculty"/>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">Department/School</label>
                            <input class="input" type="text" name="dept"/>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">School Registeration Number</label>
                            <input class="input" type="text" name="schoolreg"/>
                        </div>
                        <div class="control is-expanded">
                            <label class="label has-required">JAMB Registeration Number</label>
                            <input class="input" name="jambreg" type="text" required/>
                        </div>
                    </div>
                    <div class="control is-spaced is-grouped">
                        <div class="control is-expanded">
                            <label class="label">Degree</label>
                            <input class="input" name="degree" type="text"/>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">Level</label>
                            <span class="select">
                                <select name="level">
                                    <option value="100">One</option>
                                    <option value="200">Two</option>
                                    <option value="300">Three</option>
                                    <option value="400">Four</option>
                                    <option value="500">Five</option>
                                    <option value="600">Six</option>
                                    <option value="700">Seven</option>
                                </select>
                            </span>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">Date of Completion</label>
                            <input class="input" name="completion" type="date"/>
                        </div>
                    </div>
                    <h2 class="title is-4" has-pre-space>Next of Kin Details</h2>
                    <div class="control is-spaced">
                        <label class="label">Full Name</label>
                        <input class="input" name="nok_fullname" type="text"/>
                    </div>
                    <div class="control is-spaced">
                        <label class="label">Address</label>
                        <textarea name="nok_address" rows="2" class="textarea">
                        </textarea>
                    </div>
                    <div class="control is-spaced is-grouped">
                        <div class="control is-expanded">
                            <label class="label">LGA</label>
                            <input class="input" name="nok_lga" type="text"/>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">Email</label>
                            <input class="input" name="nok_email" type="email" value=""/>
                        </div>
                        <div class="control is-expanded">
                            <label class="label">Phone</label>
                            <input class="input" name="nok_phone" type="tel"/>
                        </div>
                    </div>
                    <h2 class="title is-4" has-pre-space>Competition</h2>
                    <label class="label">Sports you are competing in.</label>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Athletics"/>
                                Athletics
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Badminton"/>
                                Badminton
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Basketball"/>
                                Basketball
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Cricket"/>
                                Cricket
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Chess"/>
                                Chess
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Football"/>
                                Football
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Handball"/>
                                Handball
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Hockey"/>
                                Hockey
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Judo"/>
                                Judo
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Scrabble"/>
                                Scrabble
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Squash"/>
                                Squash
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Swimming"/>
                                Swimming
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Table Tennis"/>
                                Table Tennis
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Taekwando"/>
                                Taekwando
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Tennis"/>
                                Tennis
                            </label>
                        </div>
                        <div class="control">
                            <label class="radio" for="">
                                <input class="radio" name="sports" type="radio" value="Volleyball"/>
                                Volleyball
                            </label>
                        </div>
                        <div class="control is-license">
                            <label class="radio has-required" for="">
                                <input class="checkbox" name="" type="checkbox" value="" required>
                                I hereby agree that I have read and accepted <a href="http://nugang.org/?page_id=166">
                                    Accreditation Guidlines for Nigerian University Games(UAM 2016)</a>
                            </label>
                        </div>
                    <div class="control is-clearfix">
                        <button class="button is-pulled-right is-primary">Submit</button>
                    </div>
                </form>
            </div>
        </section>
{% endblock %}
