{% extends layout %}

{% block content %}
<section class="section">
  <main class="container">
    <form method="post" action="/login">
      <input type="hidden" name="_csrf" value="{{ csrfToken }}">
      <p>
        <label>Username:</label>
        <input type="text" name="username">
      </p>
      <p>
        <label>Password:</label>
        <input type="password" name="password">
      </p>
      <input type="submit" value="log in" class="button is-white">
    </form>
  </main>
</section>
{% endblock %}
