{% extends layout %}

{% block content %}
{% include page_header %}
<main class="content">
  <h1 class="u-txtcenter">Solutions</h1>
  <div class="content__box">
    <p>In today’s fast changing world, relevant data is everything. However getting such data is difficult, and even when sought it’s usually unreliable. But with JAMA, you are covered!. It unlocks data, in real­time and with verification that leverages on the power of human intelligence connected across over 70 million mobile phones to provide real­time and insightful results.</p>
    <!-- Solutions Section -->
    <section class="section--solutions section">
      <div class="content">
        <div class="row">
          <div class="column column-4">
            <h3 class="section--solutions__heading"><svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg> Market Research and Surveys</h3>
            <p class="section--solutions__description">Get fast, digital market research – including survey design, data analysis and actionable insights to grow your business. All achievable while tracking your survey with our real­ time analytics dashboard. Use cases include:</p>
            <ol type="a">
              <li>Market Sentiment Analysis</li>
              <li>Competitor Assessment</li>
              <li>Customer Satisfaction</li>
              <li>Customer Service Feedback</li>
              <li>App Feedback</li>
            </ol>
          </div>
          <div class="column column-4">
            <h3 class="section--solutions__heading"><svg class="icon icon-donut_large"><use xlink:href="#icon-donut_large"></use></svg> Product Engagement and Sales Monitoring</h3>
            <p class="section--solutions__description">If you need to activate a new product or service, you need to get the crowd on your side. Our workers are always ready to try new things and give you feedback about what they think of them. Use cases include:</p>
            <ol type="a">
              <li>Watch a Video</li>
              <li>Read/Explore Online Properties</li>
              <li>Test a Product</li>
              <li>Take a Selfie with a Product</li>
              <li>Purchase a Product</li>
              <li>Application Download</li>
            </ol>
          </div>
          <div class="column column-4">
            <h3 class="section--solutions__heading"><svg class="icon icon-shopping_cart"><use xlink:href="#icon-shopping_cart"></use></svg> Mystery Shoppers</h3>
            <p class="section--solutions__description">Get consumers from your target market on your team today to investigate your product, promotion or service. Use cases include:</p>
            <ol type="a">
              <li>Service Mystery Shopping</li>
              <li>Product Mystery Shopping</li>
              <li>Instant Post­purchase Survey</li>
              <li>Visit and Rate Product Activations</li>
              <li>Visit and Rate Online Presence</li>
              <li>Rate Call Center experience</li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="column column-4">
            <h3 class="section--solutions__heading"><svg class="icon icon-airplay"><use xlink:href="#icon-airplay"></use></svg> Merchandising and Audits</h3>
            <p class="section--solutions__description">Find out what’s happening with your product and merchandising in­-store right now. Get people to conduct in­-store merchandising audits of your products (and the competition) quickly – and at a fraction of the cost of traditional field teams. Use cases include:</p>
            <ol type="a">
              <li>Product Pricing &amp; Placement</li>
              <li>Store Merchandising Compliance</li>
              <li>Competitor Shelf Space Analysis</li>
              <li>Product Shortage Reporting</li>
              <li>Advertising Deployment Verification</li>
            </ol>
          </div>
          <div class="column column-4">
            <h3 class="section--solutions__heading"><svg class="icon icon-public"><use xlink:href="#icon-public"></use></svg> Mapping and Data Connection</h3>
            <p class="section--solutions__description">Collect photo and GPS­ verified points of where your product is stocked, or even where your competitor’s product is stocked. Allow people to gather information near them while they are out and about. By harnessing the power of the crowd, data collection is cheaper, faster and more reliable than any other method. Use cases include:</p>
            <ol type="a">
              <li>Business Information Verification</li>
              <li>Crowd­sourced Store Locator</li>
              <li>Incident Reporter</li>
              <li>Stockist Mapping</li>
              <li>Infrastructure Reporting</li>
              <li>Bank Address Verification</li>
            </ol>
          </div>
          <div class="column column-4">
            <h3 class="section--solutions__heading"><svg class="icon icon-system_update"><use xlink:href="#icon-system_update"></use></svg> On-device Education</h3>
            <p class="section--solutions__description">Educate your Jamans where and when you need to – with speed, flexibility, and robust testing in place to ensure they have learned what they need to know. Quickly disseminate educational materials to the right people at the right locations to help you introduce new skills to your workforce, get them familiarised with new techniques, and improve your customer's experience. Use cases include:</p>
            <ol type="a">
              <li>Video Training</li>
              <li>Testing (Incorrect Answers Fail)</li>
              <li>Qualifying for Future Jobs</li>
              <li>Internal Training and Reporting</li>
              <li>Display Images and Test Recall</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}
